%ul
  - if current_user.is_an?(:admin)
    %li= link_to 'Admin', admin_url
  %li= link_to 'Edit Personal Information', dashboard_personal_url
  %li= link_to 'Change Password', password_url
  %li= link_to 'Logout', logout_url
