html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body body {
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 75%; }
body h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  body h1 img {
    margin: 0; }
body h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }
body h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }
body h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  height: 1.25em; }
body h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }
body h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }
body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0; }
body p {
  margin: 0 0 1.5em; }
  body p img {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
    body p img.right {
      float: right;
      margin: 1.5em 0 1.5em 1.5em; }
body a {
  text-decoration: underline;
  color: #000099; }
  body a:visited {
    color: #000066; }
  body a:focus {
    color: black; }
  body a:hover {
    color: black; }
  body a:active {
    color: #cc0099; }
body blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }
body strong {
  font-weight: bold; }
body em {
  font-style: italic; }
body dfn {
  font-style: italic;
  font-weight: bold; }
body sup, body sub {
  line-height: 0; }
body abbr, body acronym {
  border-bottom: 1px dotted #666; }
body address {
  margin: 0 0 1.5em;
  font-style: italic; }
body del {
  color: #666; }
body pre, body code {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }
body tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }
body li ul, body li ol {
  margin: 0 1.5em; }
body ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }
body ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }
body dl {
  margin: 0 0 1.5em 0; }
  body dl dt {
    font-weight: bold; }
body dd {
  margin-left: 1.5em; }
body table {
  margin-bottom: 1.4em;
  width: 100%; }
body th {
  font-weight: bold;
  background: #C3D9FF;
  padding: 4px 10px 4px 5px; }
body td {
  padding: 4px 10px 4px 5px; }
body tr.even td {
  background: #E5ECF9; }
body tfoot {
  font-style: italic; }
body caption {
  background: #eee; }
body .quiet {
  color: #666666; }
body .loud {
  color: #111111; }
body hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
body label {
  font-weight: bold;
  display: block; }
body input.text, body input.title, body textarea, body select {
  margin: 0.5em 0;
  border: 1px solid #bbb; }
body input.text:focus, body input.title:focus, body textarea:focus, body select:focus {
  border: 1px solid #666; }
body input.text, body input.title {
  width: 300px;
  padding: 5px;
  font-size: 1em; }
body textarea {
  width: 390px;
  height: 250px;
  padding: 5px; }
body .fieldWithErrors input, body .fieldWithErrors textarea {
  background-color: #FBE3E4;
  border: 2px solid #FBC2C4; }
body .error_message {
  color: #FBC2C4;
  font-weight: bold;
  margin-left: 1em; }
body #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }
body #errorExplanation ul li {
  font-size: 12px;
  list-style: square; }
body .error, body .notice, body .success {
  padding: .2em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 2px solid #ddd;
  text-align: center; }
body .error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }
  body .error a {
    color: #BA1F11; }
body .notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }
  body .notice a {
    color: #514721; }
body .success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }
  body .success a {
    color: #264409; }

body {
  font-size: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body .container {
    min-width: 600px;
    max-width: 1024px;
    width: 75%;
    margin: 0 auto;
    padding: 10px; }
  body #header {
    min-width: 600px;
    max-width: 1024px;
    width: 75%;
    margin: 0 auto;
    height: 60px; }
    body #header h1 {
      float: left; }
    body #header ul {
      float: right;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: auto;
      overflow: -moz-scrollbars-none;
      display: inline-block; }
      body #header ul {
        display: block; }
      body #header ul li {
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        body #header ul li.first {
          padding-left: 0px; }
        body #header ul li.last {
          padding-right: 0px; }
  body #body .login_box {
    float: left; }
  body #body .signup_box {
    float: right; }
