Someone, hopefully you, has requested that we send you a link to change your password.

Heres the link:
="http://#{HOST_NAME}/account/password/reset?user=#{@user.email}&token=#{@user.crypted_password}"
If you didnt request this, no need to freak out, your password hasnt been changed.  You can just ignore this email.