Someone, hopefully you, has requested that we send you a link to change your password.

Here is the link:
="http://#{APP[:host]}/password/reset/#{@user.crypted_password}"
If you did not request this, no need to panic, your password has not been changed.  You can just ignore this email.
