body {
  font-family: helvetica, arial, sans;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.clear {
  clear: both;
}

ul.facelist, #result_list {
  margin: -4px auto auto 120px !important;
}

#mainform label {
  line-height: 24px;
  font-size: 18px;
}

#for_image {
   position: relative;
   top: 4px;
}

#mainmainform {
   background: url(/images/i_met_with.png) 4px left no-repeat;
}

#location image {
   float: left;
}

#location {
   height: 40px;
}

#location select {
   position: relative;
   top: -4px;
   left: 3px;
}

#wrapper {
  width: 770px;
  text-align: left;
  margin: 70px auto;
}

#history {
  font-size: 14px;
  color: #666;
  margin-top: 30px;
}

.name {
   color: #000;
   background-color: #7f7;
}

.time {
   color: #000;
   background-color: #ff7;
}

.location {
   color: #000;
   background-color: #7ff;
}

input.time {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  background: white;
}


.timeselect {
   border: 1px solid #999999;
   width: 30px;
   height: 24px;
   line-height: 24px;
   margin-left: 2px;
   float: left;
   text-align: center;
   cursor: pointer;
}

.result {
   line-height: 18px;
   font-size: 12px;
}

.result .x {
   background-color: #ccc;
   color: #fff;
   padding: 0 2px 0 2px;
   cursor: pointer;
}

.result .x:hover {
   background-color: #c00;
}

a.cr:link,
a.cr:visited {
   text-decoration: none;
   color: #c00;
}

a.cr:active,
a.cr:hover {
   text-decoration: none;
   background: #c00;
   color: white;
}

#footer {
   text-align: center;
   font-size: 9px;
}