body {
  font-family: helvetica, arial, sans;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.clear {
  clear: both;
}

ul.facelist, #result_list {
  margin: -4px auto auto 120px !important;
}

#mainform label {
  line-height: 24px;
  font-size: 18px;
}

#for_image {
   position: relative;
   top: 4px;
}

#mainform {
   background: url(/images/i_met_with.png) 4px left no-repeat;
}

#wrapper {
  width: 770px;
  text-align: left;
  margin: 100px auto;
}

#history {
  font-size: 14px;
  color: #999;
  margin-top: 30px;
}

.name {
  color: #000;
}

.time {
  color: #000;
}

input.time {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  background: white;
}


.timeselect {
   border: 1px solid #999999;
   width: 30px;
   height: 24px;
   line-height: 24px;
   margin-left: 2px;
   float: left;
   text-align: center;
   cursor: pointer;
}