- form_for @user do |form| 
  = render :partial => '/users/form', :object => form 
  = form.submit 'Sign up'

%p Once you've created your account, you'll receive an email with a confirmation link. You'll have to click the link before you can log in.
