@import base.sass
@import compass/layout.sass
=container
  :width 770px
  :margin 0 auto
body
  :font-size 75%
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  .container
    +container
    :padding 10px
  #header
    +container
    :height 60px
    h1
      :float left
    ul
      :float right
      +horizontal-list
  #body
    .login_box
      :float left
    .signup_box
      :float right
       
